# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env

# IDE settings (VS Code, JetBrains...)
.vscode/
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/